* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

@font-face {
    font-family: "Recursive";
    src: url(./fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

:root {
    --branco: #dddddd;
    --verde-claro: #879E6D;
    --verde-escuro: #585E51;
    --preto: #0000;
    --branco2: #ffffff;

}

.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: var(--branco);
}

.titulo {
    display: flex;
    font-family: "Recursive", sans-linear-bold;
    font-weight: 600;
    font-size: 35px;

}

/* -----------------header------------------- */








.titulo h2 {
    color: var(--branco2);
    margin-bottom: 0;
    background-color: var(--verde-claro);
    border-radius: 20px;
    padding: 10px 18px;

}

.titulo span {
    color: var(--verde-claro);
    border-bottom: solid 3px var(--verde-escuro);
}



header {
    height: 255px;
}

header img {
    width: 200px;
}

header.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



.menu {
    max-width: 700px;
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    font-family: "Recursive", sans-linear;
    color: var(--verde-escuro);

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--verde-claro);
}

.conteudo-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: space-between;

}

.conteudo-banner img {
    max-width: 380px;
    width: 50%;

}

.banner {
    height: 60vh;

    /* background-image: url(./imgs/parallax.svg); */
    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/banner.novo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 120px;
}



/* -------------- SOBRE --------------- */

#sobre {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 120px;
    margin-bottom: 120px;
}

#sobre img {
    max-width: 500px;
    width: 60%;
    border-radius: 60px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

#sobre p {
    font-family: "Recursive", sans-linear;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}


/* -------------PARALLAX--------------- */


#parallax {
    height: 350px;

    /* background-image: url(./imgs/parallax.svg); */
    background: linear-gradient(rgba(0, 0, 0, 0.26)), url(./img/pexels-scottwebb-137586\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-bottom: 120px;
}

/* ----------------SERVIÇOS--------------- */
#servicos {
    margin-bottom: 120px;

}

#servicos .titulo {
    justify-content: center;
    margin-bottom: 55px;

}

#servivos {
    margin-left: 5px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
}

.linha-verde {
    position: absolute;
    z-index: -1;
    top: calc(50% - 125px);

    height: 250px;
    width: 100vw;
    background: linear-gradient(0deg, rgba(135, 158, 109, )0%,
            rgba(88, 94, 81, )100%);
}

#servicos .card {
    width: 300px;
    margin: 20px;
    padding: 40px 20px;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#servicos .card h3 {
    font-size: 24px;
    margin: 5px 0 30px;
    color: var(--verde-escuro);
    font-family: "Recursive", sans-linear-bold;
    text-align: center;

}

#servicos .card p {
    font-family: "Recursive", sans-linear;
    font: size 18px;
    margin-bottom: 20px;
    line-height: 1.5;

}

.container-cards .card svg {
    color: var(--verde-escuro);
    width: 80px;

}

#servicos .card:hover {
    border: solid 3px var(--verde-claro);
}

#servicos .card:hover h3 {
    color: var(--verde-claro);
}

#servicos .card:hover svg {
    fill: var(--verde-claro);
}

/* ----------------------------- Contato -------------------------- */

#contato {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#contato .titulo {
    justify-content: center;
    margin-bottom: 55px;
}

#contato h2 {
    margin-left: 5px;
}

#contato form {
    width: 90%;
    max-width: 980px;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 40px;
    background-color: var(--preto);
    border: solid 3px var(--verde-escuro);

    color: var(--preto);
    font-family: "Recursive", sans-linear;
    font-size: 17px;
}

.campo {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 50px;
}

.campo-descricao {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 4px;

    text-indent: 10px;

    outline: none;
}

.campo-descricao textarea {
    color: var(--preto);
    background-color: var(--branco);

    border: none;
    border-radius: 4px;

    outline: none;

    padding: 10px;

    resize: none;
}

.campo-label,
.campo-descricao label {
    margin-bottom: 15px;
}

.campo input,
.campo-descricao textarea {
    font-family: "Recursive", sans liner;
    font-size: 17px;
}

.campo input::placeholder,
.campo-descricao textarea::placeholder {
    color: #a0a0a0;
}

.campo input:focus,
.campo-descricao textarea:focus {
    outline: 2px solid var(--verde-pixelV);
}

#contato form button {
    height: 40px;
    width: 60%;

    background-color: var(--verde-escuro);
    color: var(--branco2);

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Recursive", sans-linear;
    font-weight: 700;

    text-transform: uppercase;

    cursor: pointer;

    transition: backgraund-color 500ms;
}

#contato form button:hover {
    background-color: var(--verde-claro);
}

/* ----------Footer------------- */
footer {
    height: 300px;
    background-image: url(./img/Footer.png);
}

footer img {
    height: 150px;
}

footer .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes-sociais {
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redes-sociais p {
    color: var(--branco2);

    font-family: "Recursive", sans-linear-bold;
    font-size: 24px;
}

.icones-redes {
    width: 220px;

    display: flex;
    justify-content: space-between;
}

.icones-redes a {
    color: var(--branco2);
}

.icones-redes a:hover {
    color: var(--verde-claro);
}

/* ---------------------------Responsividade-----------------------------*/

@media screen and (max-width: 1024px) {

    .titulo,
    .titulo h2 {
        font-size: 26px;
        font-family: "Recursive", sans-linear-bold;
    }

    .menu {
        justify-content: space-evenly;
    }

    .titulo span {
        line-height: 45px;
    }

    #sobre p {
        font-size: 16px;
    }

    #servicos .card svg {
        height: 55px;
    }
}

/* ---------------menu hamburger--------------- */
#icone-barras,
#icone-x {
    display: none;
}

.menu-fechado {
    display: none;
}

/* -------------------------------------------------- */
@media screen and (max-width: 768px) {
    header {
        position: relative;
    }

    header button {
        width: 50px;
        background: none;
        border: none;

        cursor: pointer;
        display: unset;
    }

    header svg {
        fill: var(--branco2);
    }

    nav.menu {
        height: 500px;
        width: 350px;

        padding: 0px 30px;

        flex-direction: column;
        justify-content: space-around;
        background-color: var(--preto);

        position: absolute;
        right: 0px;
        top: 165px;
        z-index: 1;
    }

    .conteudo-banner img {
        display: none;
    }

    .conteudo-banner {
        text-align: center;
    }

    #sobre img {
        display: none;
    }

    .titulo {
        justify-content: center;
    }

    #cases img {
        height: 200px;
    }

    footer .roda-pe {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    footer img {
        height: 80px;
    }

    .redes-sociais {
        align-items: center;
        justify-content: center;
    }

    .redes-sociais svg {
        height: 35px;
    }

}

@media screen and (max-width: 320px) {
    nav.menu {
        width: 260px;
    }

    .conteudo-banner p {
        font-size: 24px;
        width: 310px;
    }

    .conteudo-banner ul {
        font-size: 25px;
    }

    .titulo,
    .titulo h2 {
        font-size: 20px;
    }
}

header .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center0;
}